/* Element Selectors 0,0,1 */
body {
    background-color: black;
    color: white;
}

button {
    background-color: red;
    border-radius: 5px;
    color: white;
    border: 1px solid black;
}

/* Class, attribute & pseudo-class selectors 0,1,0 */
.action-advanced-reports,
.action-primary {
    background-color: red;
    border: 1px solid black;
}

.action-default {
    background-color: red;
    border-radius: 5px;
    color: white;
    border: 1px solid black;
}

.admin__action-dropdown {
    color: white;
    background-color: black;
}

.admin__action-dropdown-wrap {
    background-color: black;
}

.admin__control-addon-prefix {
    background-color: #161b22 !important;
    color: white;
}

.admin__control-select {
    background-color: #161b22;
    color: white;
}

.admin__control-text {
    background-color: #161b22;
    color: white;
}

.admin__control-textarea {
    background-color: #161b22;
    color: white;
}

.admin__field-label {
    color: white;
}

.admin__page-nav {
    background-color: #010409;
    border: 1px solid #8d96a0;
    border-radius: 5px;
}

.admin__page-nav-title,
.admin__page-nav-link {
    color: white;
}

.dashboard-data {
    background-color: black;
    border: 1px solid darkslategray;
    color: white;
    padding: 5px 10px
}

.form-list {
    color: white;
}

.message-system-inner {
    border: 1px solid black;
    background-color: darkred;
    color: white;

    span {
        color: white;
    }

    .action-menu-item {
        color: lightseagreen;
    }

    .message {
        color: white;
    }
}

.message-system-collapsible {
    border: 1px solid black;
    background-color: darkred;
    color: white;
}

.page-footer {
    background-color: #161b22;
    color: white;
}

.page-layout-admin-login {
    background-color: #0d1117;
}

.page-title {
    color: white;
}

.page-wrapper {
    background-color: #0d1117;
}

.store-switcher-label {
    color: white;
}

/* Class, attribute & pseudo-class selectors 0,1,1 */

.admin__scope-old select {
    background-color: #161b22;
    color: white;
}

button.primary {
    background-color: red;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
}

button:hover {
    background-color: crimson;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 0 1px darkred;
}

.data-grid td {
    background-color: #0d1117;
    color: white;
}

.data-grid th {
    background-color: #161b22;
    color: white;
}

.magento-version strong {
    color: white;
}

.page-actions-buttons>button {
    color: white !important;
    background-color: red !important;
    border: 1px solid black !important;
    border-radius: 5px !important;
}

.page-footer a {
    color: darkred;
}

/* Class, attribute & pseudo-class selectors 0,2,0 */

.action-advanced-reports:hover {
    background-color: crimson;
    border: 1px solid black;
    box-shadow: 0 0 0 1px darkred;
}

.action-default:hover {
    background-color: crimson;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 0 1px darkred;
}

.action-primary:hover {
    background-color: crimson;
    border: 1px solid black;
    box-shadow: 0 0 0 1px darkred;
}

.action-select-wrap .action-select {
    background-color: #161b22;
    color: white;
}

.admin__action-dropdown:hover {
    color: white;
    background-color: red;
}

.dashboard-container .empty-text {
    background-color: #161b22;
}

.menu-wrapper:before {
    background-color: #010409;
    border-right: 1px solid #8d96a0;
}

.page-actions._fixed {
    background-color: #010409;
    border: 1px solid #8d96a0;
    border-radius: 5px;
}

.page-main-actions:not(._hidden) {
    background: #161b22;
    border: 1px solid #e6edf3;
    border-radius: 5px;
}

.search-global-label:before {
    color: white;
}

/* Class, attribute & pseudo-class selectors 0,2,1 */

.page-footer a:hover {
    color: red;
}

/* Class, attribute & pseudo-class selectors 0,2,2 */

.store-switcher .dropdown-menu li span {
    color: dimgrey;
}

.store-switcher .dropdown-menu li a {
    color: white;
}

/* Class, attribute & pseudo-class selectors 0,3,0 */

.search-global-label:hover:before {
    color: grey;
}

.store-switcher .dropdown .dropdown-menu {
    background-color: black;
    color: white;
}

/* Class, attribute & pseudo-class selectors 0,3,1 */

/* Class, attribute & pseudo-class selectors 0,3,2 */

.store-switcher .dropdown-menu li a:hover {
    background-color: dimgrey;
    color: black;
}

.admin__data-grid-wrap-static .data-grid tr:nth-child(even) td {
    background-color: #161b22;
}

.admin__menu .level-0._active>a {
    background-color: #010409;
    border-right: 2px solid red;
}

.admin__menu .level-0>a:hover {
    background-color: #161b22;
    border-right: 1px solid crimson;
    margin: 0 0 0 15px;
}

.admin__menu .submenu ul>li:hover {
    a:hover {
        background-color: red;
    }
}

.admin__menu .level-0>.submenu {
    background-color: #010409;
}

.data-grid tr._odd-row td {
    background-color: #161b22;
}

.admin__data-grid-wrap-static .data-grid tr:nth-child(odd) td {
    background-color: #0d1117;

    input {
        background-color: #161b22;
        color: white;
    }

    ::placeholder {
        color: grey;
    }
}

.action-select-wrap .action-select {
    background-color: #161b22;
    color: white;
}

.action-default:hover {
    background-color: crimson;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 0 1px darkred;
}

.modal-popup .modal-footer .action-primary {
    background-color: red;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
}

button.primary:hover{
    background-color: crimson;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 0 1px darkred;
}

.admin__scope-old .fieldset {
    background-color: #161b22;
    border: 1px solid #8d96a0;
    border-radius: 5px;
}

.admin__scope-old .fieldset>.legend span {
    color: white;
}

.admin__scope-old input[type=text],
.admin__scope-old input[type=password] {
    background-color: #161b22;
    color: white;
}

.page-layout-admin-login .page-wrapper {
    background-color: #161b22;
    border-radius: 15px;
}

.page-layout-admin-login .admin__legend {
    color: red;
    font-weight: bold;
}

.page-actions-buttons>button:hover {
    background-color: crimson !important;
    border: 1px solid black !important;
    border-radius: 5px !important;
    box-shadow: 0 0 0 1px darkred !important;
}

.admin__page-nav-item:hover .admin__page-nav-link {
    background-color: #161b22;
    color: white;
}

.admin__page-nav-item.ui-state-active .admin__page-nav-link {
    background-color: red;
    color: white;
}

.admin__page-nav-item.ui-state-active {
    border-color: white;
}

.admin__page-nav-item-message .admin__page-nav-item-message-icon:after {
    color: white;
}

.admin__page-nav-item-messages .admin__page-nav-item-message-tooltip {
    background-color: #161b22;
    color: white;
}

.admin__collapsible-block-wrapper .admin__collapsible-title {
    color: white;
}

.admin__collapsible-block-wrapper:hover .admin__collapsible-title {
    color: dimgrey;
}

.admin__page-nav-title._collapsible{
    background: #161b22;
}

.modal-popup .modal-inner-wrap {
    background-color: #161b22;
    color: white;
}

.admin__page-nav-title._collapsible:hover {
    background: dimgrey;
}

.admin__page-nav-item._active .admin__page-nav-link {
    background-color: red;
    color: white;
    border: 0;
}

.accordion .admin__collapsible-block>a {
    color: white;
}

.accordion .admin__collapsible-block:hover>a {
    color: dimgrey;
}

.accordion .admin__collapsible-block>a:focus {
    color: dimgrey;
}

.accordion .config .label,
.accordion .config .note {
    color: white;
}

.admin-user .admin__action-dropdown:before {
    color: white;
}

/* Class, attribute & pseudo-class selectors 0,4,0 */

.admin__page-nav._collapsed._show ._collapsible {
    background: #161b22;
}

.modal-popup .modal-footer .action-primary:focus,
.modal-popup .modal-footer .action-primary:hover {
    background-color: crimson;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 0 1px darkred;
}

.admin-user .admin__action-dropdown:hover:before {
    color: white;
}

/* Class, attribute & pseudo-class selectors 0,5,0 */

.admin__scope-old .form-inline .fieldset>.field>.label {
    color: white;
}

/* ID Selectors 1,0,0 */

#store-change-button {
    background-color: darkred;
}
