<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<tr class="grand ship">
    <th class="mark" colspan="1" scope="row">
        <strong data-bind="Tax">Shipping</strong>
    </th>
    <td class="amount" data-th="Order Totals">
        <strong><span class="price" data-bind="TBD">TBD</span></strong>
    </td>
</tr>
<tr class="grand tax">
    <th class="mark" colspan="1" scope="row">
        <strong data-bind="Tax">Tax</strong>
    </th>
    <td class="amount" data-th="Order Totals">
        <strong><span class="price" data-bind="TBD">TBD</span></strong>
    </td>
</tr>
