<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Arteriors_WarRoom::menu"
             title="Arteriors" module="Arteriors_WarRoom"
             sortOrder="10"
             resource="Magento_Backend::content"
        />
        <add id="Arteriors_WarRoom::menu_item"
             title="Arteriors" module="Arteriors_WarRoom"
             sortOrder="10" parent="Arteriors_WarRoom::menu"
             resource="Arteriors_WarRoom::menu_item"
        />
    </menu>
</config>
